<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="jrdp-logs" />
	<property name="CHARACTER_ENCODING" value="UTF-8" />
	<logger name="com.framework" level="debug" />
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug" />
	<springProfile name="dev">
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d [%thread] %level [%logger] - %msg%n</pattern>
				<charset>${CHARACTER_ENCODING}</charset>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="console" />
		</root>
	</springProfile>
	<springProfile name="test">
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d [%thread] %level [%logger] - %msg%n</pattern>
				<charset>${CHARACTER_ENCODING}</charset>
			</encoder>
		</appender>
		<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_HOME}/jrdp.log</file>
			<encoder>
				<pattern>%d [%thread] %level [%logger] - %msg%n</pattern>
				<charset>${CHARACTER_ENCODING}</charset>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_HOME}/jrdp.%d.log</fileNamePattern>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_HOME}/jrdp.log</file>
			<encoder>
				<pattern>%d [%thread] %level [%logger] - %msg%n</pattern>
				<charset>${CHARACTER_ENCODING}</charset>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_HOME}/jrdp.%d.log</fileNamePattern>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="file" />
		</root>
	</springProfile>
</configuration>