<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.api.sys.res.mapper.SysResMapper">
    <select id="findTree" resultType="com.framework.commons.vo.ui.TreeNode">
		select id_ "id",
		name_ "text",
		pid_ "pid"
		from sys_res
		where show_ = '1'
		order by sort_
	</select>
</mapper>