body {
	background-color: #f2f2f2;
}

.login-content {
	width: 375px;
	margin: 10% auto;
	padding: 30px 40px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
	border-radius: 3px;
}

.login-header {
	margin-bottom: 25px;
}

.login-header h2 {
	color: #009688;
	font-size: 15px;
	font-weight: 600;
}

.login-header hr {
	margin: 5px 0;
}

.login-icon {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	line-height: 36px;
	text-align: center;
	color: #D2D2D2;
}

.login-content .layui-form-item {
	position: relative;
	margin-bottom: 25px;
}

.login-content .layui-form-item .layui-input {
	padding-left: 38px;
}